.tooltip {
  align-items: center;
  color: var(--contrast-50);
  cursor: default;
  font-size: 0.875rem;
  line-height: 1.25;
  max-width: min(80vw, 18rem);
  min-width: 1.5rem;
  position: fixed;
  text-align: center;
  user-select: none;
  z-index: 2;

  > div:first-child {
    background: var(--bg);
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0 var(--contrast-20);
    overflow: clip;
    padding: 0.5rem 1rem;

    /* holds the text */
    > div:first-child {
      font-weight: bold;
      line-height: 1.25rem;
    }
  }

  > .arrow__tooltip {
    background: var(--bg);
    position: absolute;
    transform: rotate(-45deg);
    z-index: -1;
  }
}
